.add-option-error {
  color: $off-white;
  font-style: italic;
  margin: $m-size 0 0 0;
  padding: 0 $m-size;
}

.add-option {
  display: flex;
  padding: $m-size;
}

.add-option__input {
  flex-grow: 1;
  border: none;
  color: #4E4E4E;
  border-bottom: .3rem solid darken($off-white, 10%);
  background: $off-white;
  margin-right: $s-size;
  padding: $s-size;
}
